

*{
   padding: 0;
   margin: 0;
}

.btn_login{
   width: 450px ;
   margin: auto;
   max-width: 100%;
   display: inline;
   color: #7b7b7b !important ;
   font-weight: 650 !important;
   
   line-height: 37px !important;
   border-radius: 50px !important;
   background-color: blue !important;
}
.btn_register{
   width: 380px ;
   margin: auto;
   max-width: 100%;
   display: inline;
   color: #7b7b7b !important ;
   font-weight: 650 !important;
   
   line-height: 37px !important;
   border-radius: 50px !important;
   background-color: blue !important;
}

.login_container{
   display: flex;
   padding: 0 20px 0;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 20px;
}

.divider_signIn{
   background-color: #d9dadc;
   height: 2px;
   width: 450px ;
   margin: auto;
   max-width: 100%;
   display: flex;
   justify-content: center;
   transform: translateY(-25px);
}
.divider_signUp{
   background-color: #d9dadc;
   height: 2px;
   width: 380px ;
   margin: auto;
   max-width: 100%;
   display: flex;
   justify-content: center;
   transform: translateY(-25px);
}
 .or{
   background-color: rgb(255, 255, 255);
   width: 60px;
   text-align: center;
   transform: translateY(2px);
   font-weight: 700;
   height: 25px;
   position: relative;
   justify-content: center; 
   display: flex;
   z-index: 2;
   
   
}
.form_container{
   padding: 20px;

}
.form{
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   width: 450px ;
   margin: auto;
   margin-top: -30px;
   max-width: 100%;

  
}

.form-control{
   display: inline;
   justify-content: center;
   line-height: 30px !important;
   max-width: 100%;
}

.sign_in{
   display: flex;
   width: 100%;
   line-height: 36px !important;
   border-radius: 30px !important;
   background-color: #1ed760 !important;
   border: none !important;
   color: #000 !important;
   font-weight: 600 !important;

   /* min-width: 10px; */
}
.sign_in:hover{
   /* transform: translateY(-14px);
   transform: translateX(14px); */
   transform: scale(1.04);
}
.divider_login{
   background-color: #d9dadc;
   height: 2px;
   width: 450px ;
   margin: auto;
   margin-top:10px;
   max-width: 100%;
   display: flex;
   justify-content: center;
}

.sign_up{
   background-color: #ffffff !important;
   border:1px solid #d9dadc !important;
   line-height: 36px !important;
   border-radius: 30px !important;
   color: #6a6a6a !important;
   font-weight: 600 !important;
}

.sign_up:hover{
   border: 1px solid #000 !important;
   
}
